In [139]:
import os

In [140]:
os.getcwd()

'C:\\Users\\HP\\tejasri'

In [141]:
import numpy as np                                         
import pandas as pd                                         
from sklearn.feature_extraction import text                 
from sklearn.metrics.pairwise import cosine_similarity

In [142]:
print(data.isnull().sum())          #identify missing values

Title           0
Description     0
Content Type    0
Genres          0
dtype: int64

In [143]:
data=data[["Title","Description","Content Type","Genres"]]   #selecting the relavant columns

In [144]:
data.head()

Empty DataFrame
Columns: [Title, Description, Content Type, Genres]
Index: []

In [145]:
titles = df['Title']  
print(titles.head())

0                         (un)well
1                           #alive
2    #annefrank - parallel stories
3                         #blackaf
4                 #cats_the_mewvie
Name: Title, dtype: object

In [146]:
data=data.dropna()
data

Empty DataFrame
Columns: [Title, Description, Content Type, Genres]
Index: []

In [147]:
import nltk
import re
nltk.download('stopwords')
stemmer=nltk.SnowballStemmer("english")
from nltk.corpus import stopwords
import string
stopword=set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [148]:
print(data.columns)

Index(['Title', 'Description', 'Content Type', 'Genres'], dtype='object')

In [149]:
print(data.Genres)

Series([], Name: Genres, dtype: object)

In [150]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [171]:
file_path = 'netflixData.csv'
df = pd.read_csv(file_path)

In [152]:
print(df.head())

                                Show Id                          Title  \
0  cc1b6ed9-cf9e-4057-8303-34577fb54477                       (Un)Well
1  e2ef4e91-fb25-42ab-b485-be8e3b23dedb                         #Alive
2  b01b73b7-81f6-47a7-86d8-acb63080d525  #AnneFrank - Parallel Stories
3  b6611af0-f53c-4a08-9ffa-9716dc57eb9c                       #blackAF
4  7f2d4170-bab8-4d75-adc2-197f7124c070               #cats_the_mewvie

                                         Description  \
0  This docuseries takes a deep dive into the luc...
1  As a grisly virus rampages a city, a lone man ...
2  Through her diary, Anne Frank's story is retol...
3  Kenya Barris and his family navigate relations...
4  This pawesome documentary explores how our fel...

                      Director  \
0                          NaN
1                       Cho Il
2  Sabina Fedeli, Anna Migotto
3                          NaN
4             Michael Margolis

                                           Genres  \
0                                      Reality TV
1  Horror Movies, International Movies, Thrillers
2             Documentaries, International Movies
3                                     TV Comedies
4             Documentaries, International Movies

                                                Cast Production Country  \
0                                                NaN      United States
1                           Yoo Ah-in, Park Shin-hye        South Korea
2                        Helen Mirren, Gengher Gatti              Italy
3  Kenya Barris, Rashida Jones, Iman Benson, Genn...      United States
4                                                NaN             Canada

   Release Date Rating  Duration Imdb Score Content Type         Date Added
0        2020.0  TV-MA  1 Season     6.6/10      TV Show                NaN
1        2020.0  TV-MA    99 min     6.2/10        Movie  September 8, 2020
2        2019.0  TV-14    95 min     6.4/10        Movie       July 1, 2020
3        2020.0  TV-MA  1 Season     6.6/10      TV Show                NaN
4        2020.0  TV-14    90 min     5.1/10        Movie   February 5, 2020

In [153]:
if df['Title'].isnull().sum() > 0:
    print("Warning: Some titles are missing!")
    df['Title'].fillna('Unknown Title', inplace=True)  # Handle missing titles

In [161]:
df = df.dropna(subset=['Title', 'Description', 'Genres', 'Content Type'])
df['Title'] = df['Title'].str.lower().str.strip()

In [162]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df['Description'])
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
indices = pd.Series(df.index, index=df['Title']).drop_duplicates()

In [168]:
def netflix_recommendation(title, similarity=cosine_sim, df=df):
    title = title.lower().strip()
    if title not in indices:
        print(f"'{title}' not found in the dataset.")
        return pd.DataFrame()  # Return an empty DataFrame if title is not found

    index = indices[title]
    similarity_scores = list(enumerate(similarity[index]))
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)

    similar_titles_indices = [i[0] for i in similarity_scores[1:11]]
    
    recommended_details = df.iloc[similar_titles_indices][['Title', 'Description', 'Genres', 'Content Type']]

    return recommended_details

In [173]:
recommendations = netflix_recommendation('#Alive')
print(recommendations)

                      Title  \
606         berlin syndrome
5647     varane avashyamund
5151               the rain
1058             code lyoko
30                      1br
2738   little dragon maiden
5937              zaki chan
2908  main aurr mrs. khanna
707                  blame!
209                 aerials

                                            Description  \
606   What starts as a passionate one-night stand qu...
5647  At an apartment complex, the lives of a mother...
5151  Six years after a brutal virus wipes out most ...
1058  After discovering a parallel universe hidden i...
30    Seeking her independence, a young woman moves ...
2738  Seeking to improve his combat skills, a young ...
5937  An unqualified young man has his work cut out ...
2908  A financially troubled Indian man heads to Sin...
707   Inside a vast, self-replicating city bent on e...
209   Dubai residents struggle to figure out why a f...

                                                 Genres Content Type
606                     International Movies, Thrillers        Movie
5647             Comedies, Dramas, International Movies        Movie
5151    International TV Shows, TV Dramas, TV Mysteries      TV Show
1058                                           Kids' TV      TV Show
30         Horror Movies, Independent Movies, Thrillers        Movie
2738  Action & Adventure, International Movies, Roma...        Movie
5937    Comedies, International Movies, Romantic Movies        Movie
2908  International Movies, Music & Musicals, Romant...        Movie
707   Action & Adventure, Anime Features, Internatio...        Movie
209              International Movies, Sci-Fi & Fantasy        Movie

In [174]:
recommendations = netflix_recommendation('#2Selfie')
print(recommendations)

'#2selfie' not found in the dataset.
Empty DataFrame
Columns: []
Index: []